In [35]:
# Import libraries
import pandas as pd
import numpy as np

In [36]:
data = pd.read_csv("titles.csv")
data

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0,27.612,8.2
2,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0,18.216,7.8
3,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0,17.505,7.8
4,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0,95.337,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5801,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.9,39.0,0.966,NaN
5802,tm1108171,Edis Starlight,MOVIE,Rising star Edis's career journey with ups and...,2021,NaN,74,"['music', 'documentation']",[],NaN,NaN,NaN,NaN,1.036,8.5
5803,tm1045018,Clash,MOVIE,A man from Nigeria returns to his family in Ca...,2021,NaN,88,"['family', 'drama']","['NG', 'CA']",NaN,tt14620732,6.5,32.0,0.709,NaN
5804,tm1098060,Shadow Parties,MOVIE,A family faces destruction in a long-running c...,2021,NaN,116,"['action', 'thriller']",[],NaN,tt10168094,6.2,9.0,2.186,NaN
5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,"['family', 'comedy', 'animation']",[],1.0,tt13711094,8.8,16.0,0.979,10.0

In [37]:
title = data['description']
title

0       This collection includes 12 World War II-era p...
1       A mentally unstable Vietnam War veteran works ...
2       King Arthur, accompanied by his squire, recrui...
3       Brian Cohen is an average young Jewish man, bu...
4       12-year-old Regan MacNeil begins to adapt an e...
                              ...
5801    A beautiful love story that can happen between...
5802    Rising star Edis's career journey with ups and...
5803    A man from Nigeria returns to his family in Ca...
5804    A family faces destruction in a long-running c...
5805    With winter behind them, Bheem and his townspe...
Name: description, Length: 5806, dtype: object

In [38]:
title.to_numpy().shape

(5806,)

In [39]:
title = np.array(title, dtype=str)

In [40]:
title = np.char.lower(title)

In [41]:
import re
marks = "!\"#$%&'()*+,-./:;<=>?@[\]^_`{|}~\n"
 
for x in marks:  
    title = np.char.replace(title, x, "")

In [42]:
title = repr(title)
title = re.sub(r"[^a-zA-Z]", " ", title)

In [43]:
# remove the whitespaces or specific characters from the string at the beginning and end of the string
title = title.strip()

In [44]:
title = re.sub(r"\s+", " ", title)

In [45]:
from nltk.tokenize import word_tokenize 

title_tokens = word_tokenize(title)
print(title_tokens)

['array', 'this', 'collection', 'includes', 'world', 'war', 'iiera', 'propaganda', 'films', 'many', 'of', 'which', 'are', 'graphic', 'and', 'offensive', 'discussed', 'in', 'the', 'docuseries', 'five', 'came', 'back', 'a', 'mentally', 'unstable', 'vietnam', 'war', 'veteran', 'works', 'as', 'a', 'nighttime', 'taxi', 'driver', 'in', 'new', 'york', 'city', 'where', 'the', 'perceived', 'decadence', 'and', 'sleaze', 'feed', 'his', 'urge', 'for', 'violent', 'action', 'attempting', 'to', 'save', 'a', 'preadolescent', 'prostitute', 'in', 'the', 'process', 'king', 'arthur', 'accompanied', 'by', 'his', 'squire', 'recruits', 'his', 'knights', 'of', 'the', 'round', 'table', 'including', 'sir', 'bedevere', 'the', 'wise', 'sir', 'lancelot', 'the', 'brave', 'sir', 'robin', 'the', 'notquitesobraveassirlancelot', 'and', 'sir', 'galahad', 'the', 'pure', 'on', 'the', 'way', 'arthur', 'battles', 'the', 'black', 'knight', 'who', 'despite', 'having', 'had', 'all', 'his', 'limbs', 'chopped', 'off', 'insists', 'he', 'can', 'still', 'fight', 'they', 'reach', 'camelot', 'but', 'arthur', 'decides', 'not', 'to', 'enter', 'as', 'it', 'is', 'a', 'silly', 'place', 'a', 'man', 'from', 'nigeria', 'returns', 'to', 'his', 'family', 'in', 'canada', 'and', 'discovers', 'that', 'western', 'culture', 'has', 'changed', 'his', 'children', 'in', 'ways', 'that', 'he', 'does', 'not', 'approve', 'a', 'family', 'faces', 'destruction', 'in', 'a', 'longrunning', 'conflict', 'between', 'communities', 'that', 'pits', 'relatives', 'against', 'each', 'other', 'amid', 'attacks', 'and', 'reprisals', 'with', 'winter', 'behind', 'them', 'bheem', 'and', 'his', 'townspeople', 'usher', 'in', 'a', 'sunny', 'new', 'season', 'in', 'all', 'their', 'favorite', 'ways', 'during', 'the', 'makar', 'sankranti', 'festival', 'dtype', 'U']

In [46]:
from nltk.corpus import stopwords
list_stopwords = stopwords.words('english')
list_stopwords

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [47]:
#remove stopword pada list token
def stopwords_removal(words):
    return [word for word in words if word not in list_stopwords]

title = stopwords_removal(title_tokens)

print(title)

['array', 'collection', 'includes', 'world', 'war', 'iiera', 'propaganda', 'films', 'many', 'graphic', 'offensive', 'discussed', 'docuseries', 'five', 'came', 'back', 'mentally', 'unstable', 'vietnam', 'war', 'veteran', 'works', 'nighttime', 'taxi', 'driver', 'new', 'york', 'city', 'perceived', 'decadence', 'sleaze', 'feed', 'urge', 'violent', 'action', 'attempting', 'save', 'preadolescent', 'prostitute', 'process', 'king', 'arthur', 'accompanied', 'squire', 'recruits', 'knights', 'round', 'table', 'including', 'sir', 'bedevere', 'wise', 'sir', 'lancelot', 'brave', 'sir', 'robin', 'notquitesobraveassirlancelot', 'sir', 'galahad', 'pure', 'way', 'arthur', 'battles', 'black', 'knight', 'despite', 'limbs', 'chopped', 'insists', 'still', 'fight', 'reach', 'camelot', 'arthur', 'decides', 'enter', 'silly', 'place', 'man', 'nigeria', 'returns', 'family', 'canada', 'discovers', 'western', 'culture', 'changed', 'children', 'ways', 'approve', 'family', 'faces', 'destruction', 'longrunning', 'conflict', 'communities', 'pits', 'relatives', 'amid', 'attacks', 'reprisals', 'winter', 'behind', 'bheem', 'townspeople', 'usher', 'sunny', 'new', 'season', 'favorite', 'ways', 'makar', 'sankranti', 'festival', 'dtype', 'U']

In [48]:
from sklearn.feature_extraction.text import TfidfVectorizer

max_features = 500

# Feature Engineering 
print ("------- TF-IDF on data -------")

tf_idf = TfidfVectorizer(max_features=max_features, binary=True)
tfidf_mat = tf_idf.fit_transform(title).toarray()

print("TF-IDF ", type(tfidf_mat), tfidf_mat.shape)

------- TF-IDF on data -------
TF-IDF  <class 'numpy.ndarray'> (117, 107)

In [49]:
terms = tf_idf.get_feature_names()

# sum tfidf frequency of each term through documents
sums = tfidf_mat.sum(axis=0)

# connecting term to its sums frequency
data = []
for col, term in enumerate(terms):
    data.append((term, sums[col] ))

ranking = pd.DataFrame(data, columns=['term','rank'])
ranking.sort_values('rank', ascending=False)

           term  rank
84          sir   4.0
5        arthur   3.0
60          new   2.0
100        ways   2.0
98          war   2.0
..          ...   ...
33       driver   1.0
32   docuseries   1.0
31    discussed   1.0
30    discovers   1.0
106        york   1.0

[107 rows x 2 columns]